// Colours
$white: #fff;
$white-hover: #c6dff3;
$border-blue: #4898D7;

$gray-90: hsl(0, 0%, 90%);
$gray-60: hsl(0, 0%, 60%);
$gray-50: hsl(0, 0%, 50%);
$gray-40: hsl(0, 0%, 40%);
$gray-30: hsl(0, 0%, 30%);
$gray-20: hsl(0, 0%, 20%);
$gray-10: hsl(0, 0%, 10%);
