.login-header {
  background-color: #87bbe5;
  margin-bottom: 20px;
  padding: 10px 0;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);

  .header-title {
    color: $white;

    h3 {
      margin-bottom: 0;
      letter-spacing: 1px;

      @media screen and (max-width: 39.9375em) {
        font-size: 1.9375rem;
      }
    }
  }

  .login-buttons {
    text-align: right;
    .button {
      margin: 0;
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}
