// Handles styling for PhotoDisplay and its child components

.reload-button {
  text-align: right;
}

.photo-frame {
  position: relative;
  padding: 25px 25px 25px 25px;
  border-top: solid 3px $gray-90;
  border-radius: 3px;
  transition: border-color 0.5s, background-color 0.5s;
  margin-bottom: 20px;

  &:last-child {
    float: left !important;
  }

  img {
    margin-top: 10px;
  }

  &:hover {
    border-color: $border-blue;
    background-color: #fff;

    .info-button, .like-button {
      opacity: 1;
    }
  }

  .info-button {
    opacity: 0;
    transition: opacity 0.3s;

    .svg-info-button {
      fill: $gray-40;
      transition: fill 0.3s;
      float: left;

      &:hover {
        fill: #000;
        cursor: pointer;
      }
    }
  }

  .like-button {
    opacity: 0;
    transition: opacity 0.3s;

    .svg-like-button {
      fill: #ffa7b6;
      transition: fill 0.3s;
      float: right;

      &:hover {
        fill: #ff748c;
        cursor: pointer;
      }
    }

    .svg-like-highlight {
      fill: #ff284d;
    }
  }

  .photo-info-view {
    position: absolute;
    background-color: #000;
    opacity: 0;
    color: $white;
    top: 57px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    padding: 10px;
    font-weight: 500px;
    overflow-y: auto;
    transition: opacity 0.5s;

    li {
      list-style: none;
      margin-bottom: 5px;
    }
  }
}
